.portada-contacto {
  background-image: url('../img/bg-portada-contacto.png');
  background-position: top center;
  margin-bottom: 40px;
}

.form-contacto {
  border: 2px solid #F4C1E1;
  border-radius: 10px;
}

.block-data {
  align-self: center;
}

.field-input {
  padding: 10px;
}

.field-input input {
  border: none;
  width: 100%;
}

.contacto-data h3 {
  font-size: 30px;
}

.contacto-data-item {
  margin: 20px 0;
  margin-bottom: 3rem;
}

.contacto-data-item p {
  color: #000;
  font-weight: 600;
}

.contacto-data-item p:first-child {
  font-size: 22px;
  font-weight: 700;
}

.mapa {
  padding-bottom: 0;
}

.mapa img {
  display: block;
  width: 100%;
}