/*  Footer */
.sub-footer {
  background-color: #EDBED9;
  padding: 45px 0;
}

.sub-footer .logo {
  width: 181px;
  padding-top: 2rem;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-menu ul {
  list-style-type: none;
}

.footer-menu li,
.footer-menu li a {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
}

.image-rrss {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px
}

.image-rrss a {
  display: block;
  text-decoration: none;
  width: 24px;
}

.image-rrss img {
  display: block;
  width: 100%;
}

/* Copy */
.copy {
  background-color: #000;
  padding: 4px 0;
}

.copy .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy p {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

/*
* Responsive general
*/
@media only screen and (max-width: 40em) {
   .sub-footer  {
    padding: 20px 0;
  }
  .sub-footer .row {
    flex-direction: column-reverse;
    gap: 20px;
  }
    .sub-footer .logo {
      padding-top: 0rem;
    }
  .footer-menu {
    justify-content: center;
  }
  .copy p {
    text-align: center;
    font-size: 14px;
  }
  .copy-image {
    display: none;
  }
  .footer-menu ul li {
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
  }
  .image-rrss {
    justify-content: center;
  }

    .image-rrss a {
      display: block;
      text-decoration: none;
      width: 24px;
    }
  
    .image-rrss img {
      display: block;
      width: 100%;
    }
}