.portada-reclamaciones {
	background-image: url('../img/bg-portada-reclamaciones.png');
	background-position: top center;
}

.form {
	max-width: 541px;
	margin: 0px auto 20px;
	border: 2px solid #F4C1E1;
	border-radius: 15px;
	padding: 20px 0;
}

.form-title {
	color: #000;
	font-size: 35px;
	text-align: center;
	margin: 20px auto 40px;
}

.form-field {
	align-items: center;
	border: 2px solid #F4C1E1;
	border-radius: 10px;
	/* height: 52px; */
	display: flex;
	gap: 10px;
	margin: 20px auto;
	overflow: hidden;
	padding: 12px;
	width: calc(100% - 100px);
}

.form-field select,
.form-field input,
.form-field input::placeholder,
.form-field textarea {
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
	background-color: transparent;
	border-radius: 0;
	color: #000;
	font-family: "raleway";
	font-size: 16px;
	font-weight: 600;
	width: 100%;
}

.form-field img {
	display: block;
	width: 25px;
	height: fit-content;
}

.group-radio {
	display: flex;
	gap: 30px;
	margin: 20px auto;
	width: calc(100% - 100px);
}

.radio {
	font-size: 16px;
	font-family: "raleway";
	font-weight: 500;
}

.parrafo,
.comentario {
	margin: 20px auto 0;
	width: calc(100% - 100px);
}

.comentario p {
	font-size: 12px;
	font-family: "raleway";
	text-align: center;
	font-weight: 500;
	color: black;
}

.form-field-textarea {
	display: block;
}

.form-field-textarea label {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 16px;
	font-family: "raleway";
	font-weight: 600;
}

.form-message {
	display: block;
	font-size: 20px;
	font-weight: 200;
	margin: 26px auto;
	text-align: center;
	width: 100%;
}
.form-field-btn {
	flex: 100%;
}

.btn {
	background-color: #F4C1E1;
	border: 2px solid #F4C1E1;
	border-radius: 10px;
	color: #000;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 auto;
	padding: 10px 50px;
	text-decoration: none;
	width: fit-content;
}
