/* Header */
header {
  padding: 38px 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
}

/* Header evento Inicio*/
.header-evento {
  top: 0;
}
/* Header evento Fin */
header .container {
  display: flex;
  justify-content: space-between;
}

.burguer {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  position: relative;
}

.burguer span {
  display: block;
  background-color: #000;
  height: 4px;
  width: 30px;
}

.header-evento .burguer span {
  background-color: #FFF;
}

.logo {
  display: block;
  width: 217px;
}

.logo img {
  display: block;
  width: 100%;
}

.menu {
  align-items: center;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  list-style-type: none;
}

.menu-item {
  display: flex;
  gap: 30px;
}

.menu-item a {
  color: #FFF;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

header.scrolled:not(.header-evento) .menu-item a {
  color: #000;
}

.btn-line {
  border-radius: 5px;
  border: 1px solid #F4C1F0;
  color: #FFF;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-line.active {
  background-color: #F4C1F0;
  color: #000;
}

/*
* Responsive general
*/
@media only screen and (max-width: 40em) {
  /* Header */
  header {
    /* background-color: #FFF; */
    padding: 20px 0;
    /* position: sticky; */
    /* top: 0; */
  }
  .burguer {
    display: flex;
  }
  header .logo {
    justify-content: center;
  }
  .logo {
    margin: 0 auto;
  }
  .menu {
    position: fixed;
    background-color: #FFF;
    width: 100%;
    left: -100%;
    top: 83px;
    height: calc(100vh - 83px);
    transition: all 0.5s ease;
    flex-direction: column;
    overflow-y: scroll;
  }
  .menu.active {
    left: 0;
    display: block;
  }
  .menu-item {
    padding: 20px;
  }
  .menu-item a {
    color: #000;
  }
  .menu-item--btn {
    justify-content: center;
  }
  .btn-line {
    border: 2px solid #F4C1F0;
  }
}