.portada-login {
  background-image: url('../img/bg-portada-login.png');
  background-position: top center;
}

.text-white {
  color: white!important;
}

.portada-login .title-head {
  font-weight: 800;
  font-size: 35px;
  line-height: 1;
}

.parrafo-head {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

.portada-login form {
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}

.form-login .form-field select,
.form-login .form-field input,
.form-login .form-field input::placeholder,
.form-login .form-field textarea {
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.portada-login input::placeholder {
  color: #FFF;
}

.portada-login .btn {
  margin: 20px auto;
}

.text-link,
.text-link a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.form-login .form-field {
  width: unset;
  max-width: 436px;
}

/*
* Responsive general
*/
@media only screen and (max-width: 40em) {
  .portada-login {
    padding-top: 100px;
  }
}