
/* MODAL */
.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-content {
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #000;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.modal-head {
    background-color: #F4C1E1;
    padding: 10px 0;
}

.modal-image {
    margin: 0 auto;
    width: 215px;
}

.modal-image img {
    display: block;
    width: 100%;
}

.modal-body {
    margin: 0 auto;
    padding: 40px 0;
    width: 90%;
    max-width: 600px;
}

.modal-body .btn {
    width: fit-content;
    margin-top: 30px;
}