/* Encabezado de perfil */
.portada-perfil {
	background: #000;
}

.portada-perfil .petcard {
	align-items: center;
}

.portada-perfil .petcard-item {
	min-width: unset;
}

.profile-title .petcard-image {
	max-width: 506px;
}

.portada-perfil .petcard-title {
	text-align: center;
	line-height: 1.36;
}

.portada-perfil .petcard-title span {
	line-height: unset;
}



.profile-head {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	min-height: 150px;
	position: relative;
	width: 90%;
}

.profile-image {
	max-width: 150px;
	position: absolute;
	width: 100%;
	left: 0;
}

.profile-image img {
	display: block;
	width: 100%;
}

.profile-image-edit {
	display: block;
	width: 30px;
	position: absolute;
	right: 5px;
	top: 0;
}

.profile-title {
	margin: 0 auto;
	width: calc(100% - 300px);
}

.profile-title-head {
	font-size: 50px;
	margin-bottom: 8px;
	text-align: center;
}

.profile-coins {
	align-items: center;
	color: #000;
	display: flex;
	font-size: 20px;
	font-weight: 600;
	gap: 5px;
	justify-content: center;
	text-align: center;
}

.profile-coins img {
	display: block;
	width: 30px;
}

/* Formulario de perfil */
.form-perfil .form {
	max-width: unset;
	margin: 60px auto 0;
	padding: 40px 0;
	width: 90%;
}

.form-content {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	margin: 0 auto;
	width: calc(100% - 18%);
}

.form-perfil .form-field {
	flex: 40%;
	margin: 0;
	min-width: 220px;
}

.form-perfil .form-field .w-80 {
	flex: 80% !important;
}

.form-perfil .btn {
	margin-top: 30px;
}

.form-block {
	display: flex;
	gap: 25px;
	flex-direction: column;
	flex: 1;
}

.form-block .form-title {
	margin-bottom: 0;
	margin-left: 0;
}

.form-block .form-field {
	width: unset;
}

.link-addmore {
	color: #000;
	display: flex;
	gap: 5px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	margin-top: 40px;
}

.link-addmore img {
	width: 26px;
}

/* Step */
.step {
	width: 80%;
	display: block;
	margin: 40px auto 0;
	font-size: 16px;
	font-weight: 600;
}
	
.progreso {
	counter-reset: step;
	list-style-type: none;
}

.progreso li {
	float: left;
	width: 50%;
	position: relative; 
	text-align: center;
	
}
.progreso li::before {
	content: counter(step);
	counter-increment: step;
	content: "";
	width: 40px;
	height: 40px;
	border: 2px solid #F4C1E1;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: #FFF;
}

.progreso li::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background-color: #F4C1E1;
	top: 22px;
	left: -50%;
	z-index: -1;
}

.progreso li:first-child::after {
	content: none;
}

.progreso li.active:before {
	background-image: url('../img/icono-huella-negra.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px;
	background-color: #F4C1E1;	
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: none!important;
}