/* Register */
.portada-register {
  background-image: url('../img/bg-portada-register.png');
  background-position: top center;
}

.section-register .profile-head {
  min-height: unset;
  margin-bottom: 30px;
}

.section-register .profile-title-head {
  font-size: 35px;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-register .text-link,
.form-register .text-link a {
  color: #000;
}

.form-register .form p {
  color: red;
  font-weight: 500;
  margin-left: 10%;
  margin-top: -4%;
}

.form-tyc {
  text-align: center;
  margin: auto;
  max-width: 541px;
}

.form-register .btn {
  margin: 25px auto 12px;
}

/* Secci[on Negra */
.section-petcard {
  background-color: #000;
}

.petcard {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.petcard-item {
  min-width: 350px;
}

.petcard-title {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
  line-height: 35px;
}

.petcard-title span {
  color: #F4C1E1;
  display: block;
}

.petcard-subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.petcard-list {
  color: #fff;
  display: block;
  padding-inline-start: 20px;
  padding-top: 10px;
}

.petcard-list li {
  font-size: 20px;
  line-height: 1.5;
}

.petcard-image {
  max-width: 506px;
  margin: 0 auto;
  width: 100%;
}

.petcard-image p {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-top: 5px;
}

.petcard-image img {
  display: block;
  width: 100%;
}

/* Confirmado */
.confirmado {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}
.confirmado p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.confirmado p b {
  font-weight: 700;
  color: #000;
}