<template>
  <body>
    <Menu />

    <section class="portada-blog">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">RockoBlog</div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="filter">
          <div class="field field-text">
            <a href="/blog">Últimos RockoBlogs</a>
          </div>
          <div class="field">
            <select name="Categorías" v-model="idCategoria" id="">
              <option value="">Categorías</option>
              <option
                :value="categoria.id"
                v-for="categoria in categorias"
                :key="categoria.id"
              >
                {{ categoria.categoria }}
              </option>
            </select>
          </div>
          <div class="field">
            <input
              type="text"
              name="fecha"
              v-model="fecha"
              id="fecha"
              class="form-control"
              placeholder="Elegir mes / año"
              onclick="ocultarError();"
              onfocus="(this.type='month')"
            />
          </div>
          <div class="field">
            <input type="text" placeholder="Buscar" v-model="q" />
            <button type="button" v-on:click="getBusqueda()"></button>
          </div>
        </div>

        <div class="blog">
          <div class="list-blog">
            <hr>
            <div class="card-blog" v-for="post in posts" :key="post.id">
              <div href="" class="card-image">
                <img :src="post.imagen" alt="" />
                <div class="card-tag">{{ post.categoria.categoria }}</div>
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">{{ post.titulo }}</div>
                  <div class="card-description">
                    <p>{{ post.resumen.substring(0, 180) }}...</p>
                  </div>
                </div>
                <div class="card-link">
                  <RouterLink
                    :to="{ name: 'post', params: { slug: post.slug } }"
                    class="card-link-more"
                    >Ver más</RouterLink
                  >
                  <a href="" class="card-link-git">
                    <img src="@/assets/img/icono-github.svg" alt="" />
                    <span>RockBot</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr class="line-vertical">
          <div class="list-recommended">
            <hr/>
            <div class="card-blog-xs" v-for="post in posts" :key="post.id">
              <div class="card-image">
                <img :src="post.imagen" alt="" />
              </div>
              <div class="card-tag">{{ post.categoria.categoria }}</div>
              <div class="card-title">{{ post.titulo }}</div>
              <div class="card-description">
                <p>{{ post.resumen.substring(0, 120) }}...</p>
              </div>
              <div class="card-link">
                <RouterLink
                  :to="{ name: 'post', params: { slug: post.slug } }"
                  class="card-link-more"
                  >Ver más</RouterLink
                >
                <a href="" class="card-link-git">
                  <img src="@/assets/img/icono-github.svg" alt="" />
                  <span>RockBot</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="paginado">
          <div class="prev">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div>
          <button
            class="paginado-number"
            v-on:click="getPage(i)"
            v-for="i in pages"
            :key="i"
            v-bind:class="{ active: pageActive == i }"
          >
            {{ i }}
          </button>
          <div></div>
          <div class="next">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      posts: [],
      categorias: [],
      usuarios: [],
      pages: 0,
      next_page: "",
      prev_page: "",
      pageActive: "",
      idCategoria: "",
      fecha: "",
      q: "",
    };
  },
  mounted() {
    this.getPosts();
    this.pageActive = 1;
    this.getCategorias();
    this.getUsuarios();
  },
  methods: {
    getBusqueda() {
      const params = {
        seacrh: this.q,
        fecha: this.fecha,
        idCategoria: this.idCategoria,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/searchPosts", params)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
          this.pageActive = 1;
          console.log("Se ejecuto");
        });
    },

    getPosts() {
      axios
        .get("https://admin.eldepaderocko.com/api/posts")
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
        });
    },

    getPage(idPage) {
      axios
        .get("https://admin.eldepaderocko.com/api/posts?page=" + idPage)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
          this.pageActive = idPage;
          console.log("Se ejecuto");
        });
    },

    getActive(idPage) {
      if (idPage == this.pageActive) {
        return {
          active: "active",
        };
      }
    },

    getCategorias() {
      axios
        .get("https://admin.eldepaderocko.com/api/categorias")
        .then((response) => {
          this.categorias = response.data.data;
        });
    },

    getUsuarios() {
      axios
        .get("https://admin.eldepaderocko.com/api/admins")
        .then((response) => {
          this.usuarios = response.data.data;
        });
    },
  },
};
</script>
