<template>
  <body>
    <Menu />

    <section class="portada-blog">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">RockoBlog</div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="filter">
          <div class="field field-text">
            <a href="/blog">Últimos RockoBlogs</a>
          </div>
          <div class="field">
            <select name="Categorías" v-model="idCategoria" id="">
              <option value="0">Categorías</option>
              <option
                :value="categoria.id"
                v-for="categoria in categorias"
                :key="categoria.id"
              >
                {{ categoria.categoria }}
              </option>
            </select>
          </div>
          <div class="field">
            <input
              type="text"
              name="fecha"
              v-model="fecha"
              id="fecha"
              class="form-control"
              placeholder="Elegir mes / año"
              onclick="ocultarError();"
              onfocus="(this.type='month')"
            />
          </div>
          <div class="field">
            <input type="text" placeholder="Buscar" v-model="q" />
            <button type="button" v-on:click="getBusqueda()"></button>
          </div>
        </div>
        <hr />
        <div class="blog-detalle">
          <div class="blog-detalle-head">
            <div class="card-tag">
              {{ categoria }}
            </div>
          </div>
          <div class="list-blog">
            <hr class="color" />

            <h2 class="blog-detalle-title">
              {{ post.titulo }}
            </h2>
            <div class="blog-detalle-date"><p>{{ post.fecha }}</p></div>
            <div class="blog-detalle-description">{{ post.resumen }}</div>
            <div class="blog-detalle-image">
              <img :src="post.imagen" alt="" />
            </div>

            <hr />
            <div class="blog-detalle-description" v-html="post.contenido"></div>
          </div>
          <hr class="line-vertical">
          <div class="list-recommended">
            <hr />
            <div class="card-blog-xs" v-for="recomendado in posts" :key="recomendado.id">
              <div class="card-image">
                <img :src="recomendado.imagen" alt="" />
              </div>
              <div class="card-tag">{{ recomendado.categoria.categoria }}</div>
              <div class="card-title">{{ recomendado.titulo }}</div>
              <div class="card-description">
                <p>
                  {{ recomendado.resumen }}
                </p>
              </div>
              <div class="card-link">
                <RouterLink
                  :to="{ name: 'post', params: { slug: recomendado.slug } }"
                  class="card-link-more"
                  >Ver más</RouterLink
                >
                <a href="" class="card-link-git">
                  <img src="@/assets/img/icono-github.svg" alt="" />
                  <span>RockoBot</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="autor">
          <div class="autor-image">
            <img src="@/assets/img/icono-github.svg" alt="" />
          </div>
          <div class="autor-name">RockoBot</div>
          <div class="autor-redes">
            <ShareNetwork
              network="facebook"
              :url="url"
              :title="post.titulo"
              :description="post.resumen"
              hashtags="eldepaderocko,rockoblog"
            >
              <img src="@/assets/img/icono-fb-blanco.svg" alt="" />
            </ShareNetwork>
            <ShareNetwork
              network="linkedin"
              :url="url"
              :title="post.titulo"
              :description="post.resumen"
              hashtags="eldepaderocko,rockoblog"
            >
              <img src="@/assets/img/icono-linkedin-blanco.svg" alt="" />
            </ShareNetwork>
            <ShareNetwork
              network="twitter"
              :url="url"
              :title="post.titulo"
              :description="post.resumen"
              hashtags="eldepaderocko,rockoblog"
              style="margin-top: 1px"
            >
              <img src="@/assets/img/icono-twt-blanco.svg" alt="" />
            </ShareNetwork>
            <!-- <a href="#" v-clipboard:copy="message"> </a> -->

            <span @click="doCopy">
              <img src="@/assets/img/icono-link-blanco.svg" style="" alt="" />
            </span>
            <!-- <a href="">
              <img src="@/assets/img/icono-tag-blanco.svg" alt="" />
            </a> -->
          </div>
        </div>
      </div>
    </section>

    <section class="bottom" v-if="relacion">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <h2 class="blog-detalle-title">Noticias relacionadas</h2>

            <swiper
              :spaceBetween="30"
              :centeredSlides="true"
              :slides-per-view="3"
              :autoplay="{
                delay: 5000,
                disableOnInteraction: false,
              }"
              :loop="true"
              :pagination="{
                clickable: true,
              }"
              :modules="modules"
              class="group-card"
            >
              <swiper-slide
                class="swiper-wrapper"
                v-for="noticia in relacionadas"
                :key="noticia.id"
              >
                <div class="card-related">
                  <div class="card-image">
                    <img :src="noticia.imagen" alt="" />
                  </div>
                  <div class="card-content">
                    <h4 class="card-title">{{ noticia.titulo }}</h4>
                    <div class="card-description">
                      <p></p>
                      <p>{{ noticia.resumen.substring(0, 35) }}...</p>
                    </div>
                    <a href="" class="card-link-git">
                      <img src="@/assets/img/icono-github.svg" alt="" />
                      <span>RockoBot</span>
                    </a>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";

import "swiper/css/pagination";
import "swiper/css/navigation";

// import required modules
import { Autoplay, Pagination, Navigation, EffectFlip } from "swiper";

export default {
  components: {
    Menu,
    Footer,
    Swiper,
    SwiperSlide,
  },
  setup() {
    return {
      modules: [Autoplay, Pagination, Navigation],
    };
  },
  data() {
    return {
      post: "",
      categoria: "",
      posts: [],
      relacion: false,
      relacionadas: [],
      idCategoria: 0,
      url: "",
    };
  },
  computed: {
    ruta() {
      let self = this;
      return self.$route;
    },
    cat() {
      let self = this;
      return self.ruta.params.slug;
    },
  },
  mounted() {
    this.getPost();
    this.getPosts();
    this.getCategorias();
  },
  watch: {
    $route(to, from) {
      this.getPost();
    },
  },
  methods: {
    getPost() {
      axios
        .get(
          "https://admin.eldepaderocko.com/api/post/" +
            this.$route.params.slug
        )
        .then((response) => {
          console.log(response.data);
          this.post = response.data.data;
          this.url =
            "https://eldepaderocko.com/post/" + response.data.data.slug;
          this.categoria = response.data.data.categoria.categoria;
          if (response.data.relacion > 3) {
            this.relacion = true;
            this.relacionadas = response.data.relacionados;
          }
        });
    },
    getCategorias() {
      axios
        .get("https://admin.eldepaderocko.com/api/categorias")
        .then((response) => {
          this.categorias = response.data.data;
        });
    },
    getPosts() {
      axios
        .get("https://admin.eldepaderocko.com/api/posts")
        .then((response) => {
          this.posts = response.data.data.data;
        });
    },
    doCopy: function () {
      this.$copyText(this.url).then();
    },
  },
};
</script>
