<template>
  <body>
    <header class="header-evento">
      <div class="container">
        <div class="burguer" v-on:click="menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="/" class="logo">
          <img src="@/assets/img/logo-rosa.svg" alt="" />
        </a>
        <nav>
          <ul class="menu">
            <li class="menu-item">
              <a href="/blog">RockoBlog</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- <section class="portada-evento">
      <div class="container">
        <div class="swiper-container swp-evento">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-item">
                <img src="@/assets/img/mapa.png" />
                <div class="slider-content">
                  <div class="time">
                    {{ timeCalculated.substring(0,2) }}<span>d</span>: {{ timeCalculated.substring(3,5) }}<span>h</span>: {{ timeCalculated.substring(6,8) }}<span>m</span>: {{ timeCalculated.substring(9,11) }}<span>s</span>
                  </div>
                  <div class="date-active">01.JULIO.2022</div>
                  <div class="address-active">
                    Fase 2: RockoCard 8PM
                    <br />
                    Primer Portal Inmobiliario Pet Friendly
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-item">
                <h3 class="slider-title">Próximos Lanzamientos</h3>
                <ul class="list-date">
                  <li>
                    <div class="date">08 .Junio.2022</div>
                    <div class="address">Fase 1: RockoBlog - 8PM</div>
                  </li>
                  <li>
                    <div class="date">01 .Julio.2022</div>
                    <div class="address">Fase 2: RockoCard - 8PM</div>
                  </li>
                  <li>
                    <div class="date">08 .Julio.2022</div>
                    <div class="address">Fase 3: RockoPoints - 8PM</div>
                  </li>
                  <li>
                    <div class="date">23 .Julio.2022</div>
                    <div class="address">
                      Fase 4: Primer Portal Inmobiliario
                      <br />
                      Pet Friendly - 8pm
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section> -->

    <section class="portada-evento">
      <div class="container">
        <swiper
          :spaceBetween="30"
          :centeredSlides="true"
          :effect="'flip'"
          :autoplay="{
            disableOnInteraction: false,
          }"
          :pagination="{
            clickable: true,
          }"
          :modules="modules"
          class="swiper-container swp-evento"
        >
          <swiper-slide class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-item">
                <img src="@/assets/img/mapa.png" />
                <div class="slider-content">
                  <div class="time">
                    {{ timeCalculated.substring(0,2) }}<span>d</span>: {{ timeCalculated.substring(3,5) }}<span>h</span>: {{ timeCalculated.substring(6,8) }}<span>m</span>: {{ timeCalculated.substring(9,11) }}<span>s</span>
                  </div>
                  <div class="list-date-item active">
                    <div class="date">01.JULIO.2022</div>
                    <div class="address">
                      Fase 2: RockoCard 8PM
                      <br />
                      Primer Portal Inmobiliario Pet Friendly
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-item">
                <h3 class="slider-title">Próximos Lanzamientos</h3>
                <ul class="list-date">
                  <li class="list-date-item past">
                    <div class="date">08.Junio.2022</div>
                    <div class="address">Fase 1: RockoBlog - 8PM</div>
                  </li>
                  <li class="list-date-item active">
                    <div class="date">01.Julio.2022</div>
                    <div class="address">Fase 2: RockoCard - 8PM</div>
                  </li>
                  <li class="list-date-item">
                    <div class="date">08.Julio.2022</div>
                    <div class="address">Fase 3: RockoPoints - 8PM</div>
                  </li>
                  <li class="list-date-item">
                    <div class="date">23.Julio.2022</div>
                    <div class="address">
                      Fase 4: Primer Portal Inmobiliario
                      <br />
                      Pet Friendly - 8pm
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </swiper-slide>
        </swiper>
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <footer>
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col--3">
            <a href="/" class="logo">
              <img src="@/assets/img/logo.png" alt="" />
            </a>
          </div>

          <div class="col--9">
            <div class="footer-menu">
              <ul>
                <!-- <li>
                  <router-link to="/contactanos">Contacto</router-link>
                </li>
                <li>
                  <router-link to="/libro-reclamaciones"
                    >Libro de reclamaciones</router-link
                  >
                </li> -->
              </ul>
              <ul>
                <li>Correo electrónico:</li>
                <li>contacto@eldepaderocko.com</li>

                <li>Métodos de pago:</li>

                <li>
                  <div class="image-pagos">
                    <img src="@/assets/img/logos-visa.png" alt="" />
                  </div>
                </li>
              </ul>
              <ul>
                <li>Teléfono:</li>
                <li>+51 928 576 714</li>
                <li>
                  <div class="image-rrss">
                    <a target="_blank" href="https://www.instagram.com/eldepaderocko/">
                      <img src="@/assets/img/icono-ig.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://www.tiktok.com/@eldepaderocko">
                      <img src="@/assets/img/icono-tiktok.svg" alt="" />
                    </a>
                    <a
                      target="_blank"
                      href="https://www.facebook.com/eldepaderocko/?_rdc=1&_rdr"
                    >
                      <img src="@/assets/img/icono-fb.svg" alt="" />
                    </a>
                    <a
                      target="_blank"
                      href="https://pe.linkedin.com/company/eldepaderocko"
                    >
                      <img src="@/assets/img/icono-linkedin.svg" alt="" />
                    </a>
                    <a
                      target="_blank"
                      href="https://open.spotify.com/user/7y4usr4t89a7559b3jxs45khr?si=zrzqsWbMRGWMjGCK2pabpA&utm_source=copy-link"
                    >
                      <img src="@/assets/img/icono-spotify.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://twitter.com/Eldepaderocko">
                      <img src="@/assets/img/icono-twt.svg" alt="" />
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <p>Copyright 2022 - eldepaderocko.com - Todos los derechos reservados</p>
        <div class="copy-image">
          <img src="@/assets/img/icono-perro.png" alt="" />
        </div>
      </div>
    </div>
  </footer>
  </body>
</template>

<script>
import Footer from "@/components/FooterComponent.vue";
import { DateTime } from 'luxon'
import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";

import "swiper/css/pagination";
import "swiper/css/navigation";

// import required modules
import { Autoplay, Pagination, Navigation, EffectFlip } from "swiper";

import $ from 'jquery'

export default {
  components: {
    Footer,
    Swiper,
    SwiperSlide,
  },
  setup() {
    return {
      modules: [Autoplay, Pagination, Navigation],
    };
  },
  data () {
      return {
      endDate: '2022-07-01T08:00:00',
      now: DateTime.now(),
      timer: null
    }
  },

  computed: {
    timeCalculated () {
      const endDateDateTimeObj = DateTime.fromISO(this.endDate)
      const theDiff = endDateDateTimeObj.diff(this.now, ['days','hours', 'minutes', 'seconds'])

      return `${theDiff.days}:${theDiff.hours}:${theDiff.minutes}:${Math.round(theDiff.seconds)}`
    }
  },

  watch: {
    endDate: {
      immediate: true,

      handler (endDateTimeStr) {
        const endDateTimeObj = DateTime.fromISO(endDateTimeStr)

        if (this.timer) {
          clearInterval(this.timer)
        }

        this.timer = setInterval(() => {
          this.now = DateTime.local()

          if (this.now > endDateTimeObj) {
            this.now = endDateTimeObj
            clearInterval(this.timer)
          }
        }, 1000)
      }
    }
  },

  beforeDestroy () {
    clearInterval(this.timer)
  },

  methods: {
    menu() {
      $("nav .menu").toggleClass("active");

      if ($("nav .menu").hasClass("active")) {
        $("body").addClass("block");
      } else {
        $("body").removeClass("block");
      }
    },
  }
}
</script>