<template>
  <body>
    <Menu />
    <section class="portada-login">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Inicia sesión</div>
        <form action="" class="form-login">
          <div class="form-field">
            <img src="@/assets/img/msg.png" alt="">
            <input type="text" name="" class="text-white" placeholder="Correo" id="">
          </div>
          <div class="form-field">
            <img src="@/assets/img/icono-candado.svg" alt="">
            <input :type="tipo_clave" name="" class="text-white" placeholder="Contraseña" id="">
            <img src="@/assets/img/icono-ojo.png" @click="cambiarcampo()" alt="">
          </div>
          <p class="text-link">
            <a href="">
              Olvidé mi contraseña
            </a>
          </p>
          <button class="btn">Iniciar sesión</button>
          <p class="text-link">
            ¿No tienes una cuenta?
            <a href="">Regístrate</a>
          </p>
        </form>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      tipo_clave: 'password'
    };
  },
  mounted() {},
  methods: {
    cambiarcampo() {
      if (this.tipo_clave == "password") {
        this.tipo_clave = "text";
      } else {
        this.tipo_clave = "password";
      }
    },
  },
};
</script>
