<template>
  <body>
    <Menu />
    <!-- Aqui van las secciones -->
    <section class="portada-perfil">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="petcard">
          
          <div class="petcard-item">
            <div class="petcard-image">
              <img src="@/assets/img/bg-tarjeta-digital.png" alt="">
            </div>
          </div>
          <div class="petcard-item">
            <h4 class="petcard-title">
              ¡Bienvenido a
              <br>
              la comunidad
              <br>
              <span>RockoFriends!</span>
            </h4>
          </div>
        </div>
      </div>
    </section>


    <!--Codigo registro-->
    <section class="section-profile">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-image">
                <a href="" class="profile-image-edit">
                  <img src="@/assets/img/icono-camara.svg" alt="">
                </a>
                <img src="@/assets/img/icono-user.png" alt="">
              </div>
              <div class="profile-title">
                <h4 class="profile-title-head">
                  ¡Hola {{usuario.nombre}}!
                </h4>
                <div class="profile-coins">
                  <span>
                    Al completar tu registro te regalamos 50 Rockocoins de descuento.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">
                  Informacion Adicional
                </h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-profesion.png" alt="">
                    <input type="text" name="" placeholder="Profesión" v-model="profesion" id="">
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="">
                    <input type="date" name="" placeholder="Cumpleaños" v-model="cumpleanos" id="">
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="">

                    <select name="select" class="select" v-model="pais" @change="verificarPais">
                      <option value="0" selected>País</option>
                      <option :value="pais.id" v-for="pais in paises" :key="pais.id">{{pais.name}}</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/ubicacion-2.png" alt="">

                    <select name="select" v-model="departamento" @change="getProvincia()" :disabled="peru" class="select">
                      <option value="0" selected>Departamento</option>
                      <option :value="depart.id" v-for="depart in departamentos" :key="depart.id">{{depart.name}}</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/ubicacion-2.png" alt="">

                    <select name="select" v-model="provincia" @change="getDistrito()" :disabled="peru" class="select">
                      <option value="0" selected>Provincia</option>
                      <option :value="provincia.id" :key="provincia.id" v-for="provincia in provincias">{{provincia.name}}</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/ubicacion-2.png" alt="">

                    <select name="select" :disabled="peru" class="select">
                      <option value="0" selected>Distrito</option>
                      <option :value="distrito.id" :key="distrito.id" v-for="distrito in distritos">{{distrito.name}}</option>
                    </select>
                  </div>

                  <div class="form-field w-80">
                    <img src="@/assets/img/ubicacion-2.png" alt="">
                    <input type="text" name="" v-model="domicilio" placeholder="Domicilio" id="">
                  </div>

                  <div class="form-field-btn">
                    <button class="btn">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <div class="step">
              <ul class="progreso">
                <li class="active">Paso 1</li>
                <li>Paso 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      peru: true,
      uuid: this.$route.params.uuid,
      usuario: '',
      paises: [],
      departamentos: [],
      pais: 0,
      departamento: 0,
      distrito: 0,
      provincia: 0,
      provincias: [],
      distritos: [],
      profesion: '',
      cumpleanos: '',
      domicilio: ''
    };
  },
  created() {
    this.activateAccount()
    this.getPaises()
  },
  mounted() {
    
  },
  methods: {
    activateAccount() {
      axios.get('http://localhost:8000/api/getUsuario/'+this.uuid).then((response) => {
        this.usuario = response.data
      })
    },

    getPaises() {
      axios.get('http://localhost:8000/api/getPaises').then((response) => {
        this.paises = response.data
      }) 
    },

    verificarPais()
    {
      console.log(this.pais)
      if (this.pais == 174)
      {
        this.peru = false
        this.getDepartamentos()
      }
    },

    getDepartamentos() {
      axios.get('http://localhost:8000/api/getDepartamentos').then((response) => {
        this.departamentos = response.data
      })
    },

    getProvincia()
    {
      axios.get('http://localhost:8000/api/getProvincias/' + this.departamento).then((response) => {
        this.provincias = response.data
      })
    },

    getDistrito()
    {
      axios.get('http://localhost:8000/api/getDistritos/' + this.provincia).then((response) => {
        this.distritos = response.data
      })
    }
  },
};
</script>
