<template>
  <body>
    <Menu />
    	<section class="portada-perfil">
        <div class="bg-opacity"></div>
        <div class="container">
          <div class="petcard">
            
            <div class="petcard-item">
              <div class="petcard-image">
                <img src="@/assets/img/bg-tarjeta-digital.png" alt="">
              </div>
            </div>
            <div class="petcard-item">
              <h4 class="petcard-title">
                ¡Bienvenido a
                <br>
                la comunidad
                <br>
                <span>RockoFriends!</span>
              </h4>
            </div>
          </div>
        </div>
      </section>

      <!--Codigo registro-->
      <section class="section-profile">
        <div class="container">
          <div class="row">
            <div class="col--12">
              <div class="profile-head">
                <div class="profile-image">
                  <a href="" class="profile-image-edit">
                    <img src="@/assets/img/icono-camara.svg" alt="">
                  </a>
                  <img src="@/assets/img/foto-gato.png" alt="">
                </div>
                <div class="profile-title">
                  <h4 class="profile-title-head">
                    ¡No olvides a tu engreido!
                  </h4>
                  <div class="profile-coins">
                    <span>
                      Ahora, disfruten juntos los beneficios
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col--12">
              <form action="" class="form-perfil">
                <div class="form">
                  <div class="form-content">
                    <div class="form-block">
                      <h3 class="form-title">
                        Mascota 1
                      </h3>
          
                      <div class="form-field">
                        <img src="@/assets/img/icono-huella.png" alt="">
                        <input type="text" name="" placeholder="Nombre" id="">
                      </div>
        
                      <div class="form-field">
                        <img src="@/assets/img/icono-tarjeta.png" alt="">
                        <input type="text" name="" placeholder="Nombre" id="">
                      </div>
        
                      <div class="form-field">
                        <img src="@/assets/img/icono-calendario.png" alt="">
                        <input type="text" name="" placeholder="Nombre" id="">
                      </div>
        
                      <div class="form-field">
                        <img src="@/assets/img/edadd-1.png" alt="">
                        <input type="text" name="" placeholder="Nombre" id="">
                      </div>
                    </div>
        
                    
                  </div>
        
                  <div class="form-content">
                    <a href="" class="link-addmore">
                      <img src="@/assets/img/icono-plus-circle.svg" alt="">
                      Agregar más
                    </a>
        
                    <div class="form-field-btn">
                      <button class="btn">Guardar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row">
            <div class="col--12">
              <div class="step">
                <ul class="progreso">
                  <li>Paso 1</li>
                  <li class="active">Paso 2</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
