<template>
  <body>
    <Menu />
    <section class="portada-perfil">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="petcard">
          
          <div class="petcard-item">
            <div class="petcard-image">
              <img src="@/assets/img/bg-tarjeta-digital.png" alt="">
            </div>
          </div>
          <div class="petcard-item">
            <h4 class="petcard-title">
              ¡Bienvenido a
              <br>
              la comunidad
              <br>
              <span>RockoFriends!</span>
            </h4>
          </div>
        </div>
      </div>
    </section>


    <!--Codigo registro-->
    <section class="section-profile">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-image">
                <a href="" class="profile-image-edit">
                  <img src="@/assets/img/icono-camara.svg" alt="">
                </a>
                <img src="@/assets/img/foto-gato.png" alt="">
              </div>
              <div class="profile-title">
                <h4 class="profile-title-head">Hola Angel</h4>
                <div class="profile-coins">
                  <img src="@/assets/img/icono-rockocoin.png" alt="">
                  <span>
                    Rockocoins: 50
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">Datos Personales</h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-usuario.svg" alt="">
                    <input type="text" name="" placeholder="Nombre" id="">
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/icono-usuario.svg" alt="">
                    <input type="text" name="" placeholder="Apellido" id="">
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="">
                    <input type="text" name="" placeholder="DNI" id="">
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/icono-genero.png" alt="">
      
                    <select name="select" class="select">
                      <option value="value1">Hombre</option>
                      <option value="value2" selected>Mujer</option>
                      <option value="value3">Prefiero no decirlo</option>
                    </select>
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/msg.png" alt="">
                    <input type="text" name="" placeholder="Correo" id="">
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/phone.png" alt="">
                    <input type="text" name="" placeholder="Numero de celular" id="">
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/candado.png" alt="">
                    <input type="text" name="" placeholder="Contraseña" id="">
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/candado.png" alt="">
                    <input type="text" name="" placeholder="Confirmar contraseña" id="">
                  </div>
      
                  <button class="btn">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">
                  Informacion Adicional
                </h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-profesion.png" alt="">
                    <input type="text" name="" placeholder="Profesión" id="">
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="">
                    <input type="text" name="" placeholder="Cumpleaños" id="">
                  </div>
                  
                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="">
      
                    <select name="select" class="select">
                      <option value="value1" selected>País</option>
                      <option value="value2">Mujer</option>
                      <option value="value3">Prefiero no decirlo</option>
                    </select>
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="">
      
                    <select name="select" class="select">
                      <option value="value1" selected>Departamento</option>
                      <option value="value2">Departamento 1</option>
                      <option value="value3">Departamento 2</option>
                    </select>
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="">
      
                    <select name="select" class="select">
                      <option value="value1" selected>Provincia</option>
                      <option value="value2">Provincia 1</option>
                      <option value="value3">Provincia 2</option>
                    </select>
                  </div>
      
                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="">
      
                    <select name="select" class="select">
                      <option value="value1" selected>Distrito</option>
                      <option value="value2">Distrito 1</option>
                      <option value="value3">Distrito 2</option>
                    </select>
                  </div>
      
                  <div class="form-field-btn">
                    <button class="btn">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <div class="form-content">
                  <div class="form-block">
                    <h3 class="form-title">
                      Mascota 1
                    </h3>
        
                    <div class="form-field">
                      <img src="@/assets/img/icono-huella.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/icono-tarjeta.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/icono-calendario.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/edadd-1.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
                  </div>
      
                  <div class="form-block">
                    <h3 class="form-title">
                      Mascota 2
                    </h3>
          
                    <div class="form-field">
                      <img src="@/assets/img/icono-huella.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/icono-tarjeta.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/icono-calendario.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
      
                    <div class="form-field  label">
                      <img src="@/assets/img/edadd-1.png" alt="">
                      <input type="text" name="" placeholder="Nombre" id="">
                    </div>
                  </div>
                </div>
      
                <div class="form-content">
                  <a href="" class="link-addmore">
                    <img src="@/assets/img/icono-plus-circle.svg" alt="">
                    Agregar más
                  </a>
      
                  <div class="form-field-btn">
                    <button class="btn">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
