<template>
  <span v-if="timer">
  {{ timeCalculated.substring(3,5) }} <br>
  {{ timeCalculated.substring(6,8) }} <br>
    {{ timeCalculated.substring(9,11) }}<br>
  </span>
</template>

<script>
import { DateTime } from 'luxon'

export default {
  data () {
      return {
      endDate: '2022-07-01',
      now: DateTime.now(),
      timer: null
    }
  },

  computed: {
    timeCalculated () {
      const endDateDateTimeObj = DateTime.fromISO(this.endDate)
      const theDiff = endDateDateTimeObj.diff(this.now, ['days','hours', 'minutes', 'seconds'])

      return `${theDiff.days}:${theDiff.hours}:${theDiff.minutes}:${Math.round(theDiff.seconds)}`
    }
  },

  watch: {
    endDate: {
      immediate: true,

      handler (endDateTimeStr) {
        const endDateTimeObj = DateTime.fromISO(endDateTimeStr)

        if (this.timer) {
          clearInterval(this.timer)
        }

        this.timer = setInterval(() => {
          this.now = DateTime.local()

          if (this.now > endDateTimeObj) {
            this.now = endDateTimeObj
            clearInterval(this.timer)
          }
        }, 1000)
      }
    }
  },

  beforeDestroy () {
    clearInterval(this.timer)
  }
}
</script>