<template>
  <body>
    <Menu />

    <section class="portada-reclamaciones">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Libro de reclamaciones</div>
      </div>
    </section>

    <section>
      <div class="container">
        <form v-if="formulario">
          <div class="form">
            <div class="form-field label">
              <img src="@/assets/img/icono-usuario.svg" alt="" />

              <select
                name="select"
                v-model="tipo_persona"
                @change="cambiarCampos"
                class="select"
              >
                <option value="1" selected>Persona Natural</option>
                <option value="2">Persona Juridica</option>
              </select>
            </div>
            <div class="form-field label" v-if="juridica">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input
                type="text"
                v-model="razon_social"
                name=""
                placeholder="Razon Social"
                id=""
              />
            </div>

            <div class="form-field label" v-if="juridica">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input type="text" name="" v-model="ruc" placeholder="RUC" id="" />
            </div>

            <div class="form-field label" v-if="natural">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input type="text" name="" v-model="nombre" placeholder="Nombre" id="" />
            </div>
            <div class="form-field label" v-if="natural">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input
                type="text"
                name=""
                v-model="apellido"
                placeholder="Apellido"
                id=""
              />
            </div>

            <div class="group-radio" v-if="natural">
              <label class="radio">
                <input
                  type="radio"
                  value="DNI"
                  name="card"
                  v-model="tipo_documento"
                  @change="text_documento = 'DNI'"
                  id=""
                />
                DNI
                <span></span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  value="CE"
                  name="card"
                  @change="text_documento = 'CE'"
                  v-model="tipo_documento"
                  id=""
                />
                CE
                <span></span>
              </label>
            </div>
            <div class="form-field label" v-if="natural">
              <img src="@/assets/img/Vector.png" alt="" />
              <input type="text" name="" :placeholder="text_documento" v-model="documento" id="" />
            </div>

            <div class="form-field label">
              <img src="@/assets/img/msg.png" alt="" />
              <input type="text" name="" placeholder="Correo" v-model="correo" id="" />
            </div>

            <div class="form-field label">
              <img src="@/assets/img/phone.png" alt="" />
              <input
                type="text"
                name=""
                placeholder="Teléfono"
                v-model="telefono"
                id=""
              />
            </div>

            <div class="form-field label">
              <img src="@/assets/img/ubicacion-1.png" alt="" />
              <input
                type="text"
                name=""
                placeholder="Domicilio"
                v-model="domicilio"
                id=""
              />
            </div>

            <div class="comentario">
              <p>
                ° La respuesta de esta queja o reclamo se enviara a traves del correo
                indicado
              </p>
            </div>
          </div>

          <div class="form">
            <div class="group-radio">
              <label class="radio">
                <input type="radio" name="tipo" value="Servicio" v-model="tipo" id="" />
                Servicio
                <span></span>
              </label>
              <label class="radio">
                <input type="radio" name="tipo" value="Producto" v-model="tipo" id="" />
                Producto
                <span></span>
              </label>
            </div>

            <div class="form-field label">
              <input
                type="text"
                name=""
                v-model="monto"
                placeholder="Monto (S/.)"
                id=""
              />
            </div>

            <div class="group-radio">
              <label class="radio">
                <input
                  type="radio"
                  name="tipo_accion"
                  value="QUEJA"
                  v-model="tipo_accion"
                  id=""
                />
                Queja
                <span></span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  name="tipo_accion"
                  value="RECLAMO"
                  v-model="tipo_accion"
                  id=""
                />
                Reclamo
                <span></span>
              </label>
            </div>

            <div class="parrafo">
              <h4>¿Qué es una queja?</h4>
              <p>
                Es una disconformidad frente a una mala atención del proveedor, pero que
                no guarda relación directa con el producto o servicio adquirido.
              </p>
              <br />
              <h4>¿Qué es un reclamo?</h4>
              <p>
                Se produce cuando no estás conforme con el producto adquirido o servicio
                brindado. El proveedor tiene la obligación de darte una respuesta.
              </p>
            </div>

            <div class="form-field form-field-textarea">
              <label for="">
                <img src="@/assets/img/icono-word.png" alt="" />
                Detalle:
              </label>
              <textarea name="" id="" cols="50" v-model="detalle" rows="5"></textarea>
            </div>

            <div class="form-field form-field-textarea">
              <label for="">
                <img src="@/assets/img/icono-word.png" alt="" />
                Pedido:
              </label>
              <textarea name="" id="" cols="50" v-model="pedido" rows="5"></textarea>
            </div>
          </div>
          <button type="button" v-on:click="enviarEmail()" class="btn">
            Enviar mensaje
          </button>
          <p class="text-btn">Mejoramos cada día por ustedes.</p>
        </form>
        <div class="row" v-if="modal">
          <div class="col--12">
            <div class="modal-content">
              <div class="modal-head">
                <div class="modal-image">
                  <img src="@/assets/img/logo-rosa.png" alt="" />
                </div>
              </div>
              <div class="modal-body">
                <p>
                  Gracias por comunicarnos el inconveniente, nos pondremos
en contacto contigo muy pronto.
                </p>
                <a href="/" class="btn"> Gracias </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      tipo_persona: 1,
      juridica: false,
      natural: true,
      formulario: true,
      modal: false,
      text_documento: 'DNI'
    };
  },
  mounted() {},
  methods: {
    cambiarCampos() {
      if (this.tipo_persona == 1) {
        this.natural = true;
        this.juridica = false;
      } else {
        this.natural = false;
        this.juridica = true;
      }
    },

    enviarEmail() {
      const params = {
        tipo_persona: this.tipo_persona,
        razon_social: this.razon_social,
        ruc: this.ruc,
        nombre: this.nombre,
        apellido: this.apellido,
        tipo_documento: this.tipo_documento,
        documento: this.documento,
        correo: this.correo,
        telefono: this.telefono,
        domicilio: this.domicilio,
        tipo: this.tipo,
        monto: this.monto,
        tipo_accion: this.tipo_accion,
        detalle: this.detalle,
        pedido: this.pedido,
      };

      axios
        .post(
          "https://admin.eldepaderocko.com/api/email/reclamacion",
          params
        )
        .then((response) => {
          if (response.data == 200) {
            this.formulario = false;
            this.modal = true;
          }
        });
    },
  },
};
</script>
