<template>
  <body>
    <Menu />
    <section class="portada-register">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Regístrate</div>
      </div>
    </section>

    <section class="section-register">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-title">
                <h4 class="profile-title-head">Hola RockoFriend</h4>
                <div class="profile-coins">
                  <span>
                    ¡Disfruta de beneficios únicos por ser parte de la
                    comunidad!
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" v-if="formulario">
          <div class="col--12">
            <form action="" class="form-register" >
              <div class="form">
                <div class="form-field">
                  <img src="@/assets/img/icono-usuario.svg" alt="" />
                  <input
                    type="text"
                    name=""
                    v-model="nombre"
                    placeholder="Nombre"
                  />
                </div>
                <div class="form-field">
                  <img src="@/assets/img/icono-usuario.svg" alt="" />
                  <input
                    type="text"
                    name=""
                    v-model="apellido"
                    placeholder="Apellido"
                  />
                </div>

                <div class="form-field">
                  <img src="@/assets/img/Vector.png" alt="" />
                  <input
                    type="text"
                    name=""
                    v-model="documento"
                    placeholder="DNI"
                  />
                </div>

                <div class="form-field">
                  <img src="@/assets/img/icono-genero.png" alt="" />

                  <select name="select" v-model="genero" class="select">
                    <option value="0">Género</option>
                    <option value="1">Hombre</option>
                    <option value="2">Mujer</option>
                    <option value="3">Prefiero no decirlo</option>
                  </select>
                </div>

                <div class="form-field">
                  <img src="@/assets/img/msg.png" alt="" />
                  <input
                    type="text"
                    name=""
                    v-model="correo"
                    placeholder="Correo"
                  />
                </div>

                <div class="form-field">
                  <img src="@/assets/img/phone.png" alt="" />
                  <input
                    type="text"
                    name=""
                    v-model="celular"
                    placeholder="Número de celular"
                  />
                </div>

                <div class="form-field">
                  <img src="@/assets/img/candado.png" alt="" />
                  <input
                    :type="tipo_clave"
                    name=""
                    v-model="clave"
                    placeholder="Contraseña"
                  />

                  <img
                    src="@/assets/img/icono-ojo.png"
                    @click="cambiarcampo()"
                    alt=""
                  />
                </div>
                <p v-if="errorClave">Las contraseñas deben coincidir</p>

                <div class="form-field">
                  <img src="@/assets/img/candado.png" alt="" />
                  <input
                    :type="tipo_clave"
                    name=""
                    v-model="repetir"
                    placeholder="Confirmar contraseña"
                  />

                  <img
                    src="@/assets/img/icono-ojo.png"
                    @click="cambiarcampo()"
                    alt=""
                  />
                </div>
                <p v-if="errorClave">Las contraseñas deben coincidir</p>
              </div>

              <div class="form-tyc info-registro">
                <p>
                  Al hacer clic en Registrarme, indicas que leíste y reconoces
                  los
                  <br />
                  <b
                    >Términos y condiciones y Tratamiento adicional de datos
                    personales</b
                  >
                  de El Depa de Rocko.
                </p>
              </div>
              <button type="button" v-on:click="ejecutar()" class="btn">
                Registrarme
              </button>
              <p class="text-link">
                ¿Ya tienes una cuenta?
                <a href="/login">Ingresa aquí.</a>
              </p>
            </form>
          </div>
        </div>

        <div class="row" v-if="modal">
          <div class="col--12">
            <div class="modal-content">
              <div class="modal-head">
                <div class="modal-image">
                  <img src="@/assets/img/logo-rosa.png" alt="" />
                </div>
              </div>
              <div class="modal-body">
                <p>
                  <b>RockoFriend</b>, hemos registrado tus datos correctamente, 
para terminar el proceso de suscripción hemos enviado un correo de 
confirmación a la cuenta de correo registrada.
                </p>
                <a href="/login" class="btn"> Continuar </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-petcard">
      <div class="container">
        <div class="petcard">
          <div class="petcard-item">
            <h3 class="petcard-title">
              La tarjeta Pet Friendly
              <span>como la imaginabas</span>
            </h3>

            <div class="petcard-subtitle">
              Sabemos lo difícil que es encontrar hogares y <br />
              lugares Pet Friendly. Por eso:
            </div>

            <ul class="petcard-list">
              <li>Encontrarás hogares y lugares Pet Friendly a un click.</li>
              <li>Accederás a descuentos únicos.</li>
              <li>Vivirás la Experiencia Rocko.</li>
              <li>Tendrás el acceso a eventos exclusivos.</li>
              <li>Serás parte de la comunidad RockoFriends.</li>
            </ul>
          </div>
          <div class="petcard-item">
            <div class="petcard-image">
              <img src="@/assets/img/bg-tarjeta-digital.png" alt="" />
              <p>Primera tarjeta Pet Friendly en Perú y Latinoamérica.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      tipo_clave: "password",
      errorClave: false,
      genero: 0,
      nombre: "",
      apellido: "",
      documento: "",
      correo: "",
      celular: "",
      clave: "",
      repetir: "",
      formulario: true,
      modal: false
    };
  },
  mounted() {},
  methods: {
    cambiarcampo() {
      if (this.tipo_clave == "password") {
        this.tipo_clave = "text";
      } else {
        this.tipo_clave = "password";
      }
    },
    ejecutar() {
      if (this.clave == this.repetir) {
        this.errorClave = false;

        const params = {
          genero: this.genero,
          nombre: this.nombre,
          apellido: this.apellido,
          documento: this.documento,
          correo: this.correo,
          celular: this.celular,
          clave: this.clave,
          repeti: this.repetir,
        };

        axios
          .post(
            "http://localhost:8000/api/registrer",
            params
          )
          .then((response) => {
            if (response.data == 200) {
              this.formulario = false
              this.modal = true
            }
          });
      } else {
        this.errorClave = true;
        console.log("ejecutar");
      }
    },
  },
};
</script>
