<template>
  <body>
    <Menu />
    <section class="portada-login reset-account">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">¡Recupera tu contraseña!</div>
        <p class="parrafo-head">Te enviaremos un correo para que puedas recuperar tu contraseña</p>
        <form action="" class="form-login">
          <div class="form-field">
            <img src="@/assets/img/msg.png" alt="">
            <input type="text" name="" placeholder="Correo" id="">
          </div>
          <button class="btn">Enviar mensaje</button>
          <p class="text-link">
            ¿Ya recuerdas tu contraseña?
            <a href="">Inicia sesión</a>
          </p>
        </form>
      </div>
    </section>

    <div class="modal">
      <div class="row">
        <div class="col--12">
          <div class="modal-content">
            <div class="modal-head">
              <div class="modal-image">
                <img src="@/assets/img/logo-rosa.svg" alt="">
              </div>
            </div>
            <div class="modal-body">
              <p class="modal-text">
                Te enviamos al siguiente correo las instrucciones
                para recuperar tu contraseña:
              </p>
              <br>
              <div class="modal-text-lead">
                ejemplo@gmail.com
              </div>
              <br>
              <div class="modal-text-xs">
                Si no te ha llegado, revisa la carpeta de spam.
              </div>
              <a href="" class="btn">
                Volver
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
