<template>
  <footer>
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col--3">
            <a href="/" class="logo">
              <img src="@/assets/img/logo.png" alt="" />
            </a>
          </div>

          <div class="col--9">
            <div class="footer-menu">
              <ul>
                <!-- <li>
                  <router-link to="/contactanos">Contacto</router-link>
                </li>
                <li>
                  <router-link to="/libro-reclamaciones"
                    >Libro de reclamaciones</router-link
                  >
                </li> -->
              </ul>
              <ul>
                <li>Correo electrónico:</li>

                <li>contacto@eldepaderocko.com</li>

                <li>Métodos de pago:</li>

                <li>
                  <div class="image-pagos">
                    <img src="@/assets/img/logos-visa.png" alt="" />
                  </div>
                </li>
              </ul>
              <ul>
                <li>Teléfono:</li>
                <li>+51 928 576 714</li>
                <li>
                  <div class="image-rrss">
                    <a target="_blank" href="https://www.instagram.com/eldepaderocko/">
                      <img src="@/assets/img/icono-ig.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://www.tiktok.com/@eldepaderocko">
                      <img src="@/assets/img/icono-tiktok.svg" alt="" />
                    </a>
                    <a
                      target="_blank"
                      href="https://www.facebook.com/eldepaderocko/?_rdc=1&_rdr"
                    >
                      <img src="@/assets/img/icono-fb.svg" alt="" />
                    </a>
                    <a
                      target="_blank"
                      href="https://pe.linkedin.com/company/eldepaderocko"
                    >
                      <img src="@/assets/img/icono-linkedin.svg" alt="" />
                    </a>
                    <a
                      target="_blank"
                      href="https://open.spotify.com/user/7y4usr4t89a7559b3jxs45khr?si=zrzqsWbMRGWMjGCK2pabpA&utm_source=copy-link"
                    >
                      <img src="@/assets/img/icono-spotify.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://twitter.com/Eldepaderocko">
                      <img src="@/assets/img/icono-twt.svg" alt="" />
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <p>Copyright 2022 - eldepaderocko.com - Todos los derechos reservados</p>
        <div class="copy-image">
          <img src="@/assets/img/icono-perro.png" alt="" />
        </div>
      </div>
    </div>
  </footer>
</template>
