<template>
  <header>
    <div class="container">
      <div class="burguer" v-on:click="menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="/" class="logo a">
        <img src="@/assets/img/logo-rosa.svg" alt="" />
      </a>
      <nav>
        <ul class="menu">
          <!-- <li class="menu-item">
            <a href="#">Nosotros</a>
          </li>
          <li class="menu-item">
            <a href="#">RockoFriends</a>
          </li> -->
          <li class="menu-item">
            <a href="/blog">RockoBlog</a>
          </li>
          <!-- <li class="menu-item menu-item--btn">
            <a href="" class="btn-line"> Iniciar Sesión </a>
            <a href="" class="btn-line active"> Regístrate </a>
          </li> -->
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
import $ from "jquery";

export default {
  methods: {
    menu() {
      $("nav .menu").toggleClass("active");

      if ($("nav .menu").hasClass("active")) {
        $("body").addClass("block");
      } else {
        $("body").removeClass("block");
      }
    },
  },
};
</script>
