<template>
  <div class="modal">
    <div class="modal-content">
      <div class="modal-head">
        <div class="modal-image">
          <img src="@/assets/img/logo-rosa.png" alt="" />
        </div>
      </div>
      <div class="modal-body">
        <p>
          Gracias por comunicarnos el inconveniente, nos pondremos en contacto contigo muy
          pronto.
        </p>
        <a href="" class="btn"> Gracias </a>
      </div>
    </div>
  </div>
</template>
