.portada-blog {
  background-image: url('../img/bg-portada-blog.png');
  background-position: top center;
}

.filter {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.field {
  display: flex;
  gap: 20px;
}

.field select,
.field input{
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  padding: 0;
}

.field a{
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  padding: 0;
  border-bottom: 2px solid #F4C1E1;
  bottom: 10px;
  position: relative;
  bottom:0px;
  vertical-align:text-bottom;
  text-decoration:none;
}

.field select {
  background-color: #FFF;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #F4C1E1;
  border-radius: 0;
  min-width: 220px;
  padding: 5px 0;
}

.field input::placeholder {
  color: #000;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.field input {
  border-bottom: 2px solid #F4C1E1;
}

.field button {
  background-color: #FFF;
  background-image: url('../img/icono-lupa.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border: 2px solid #F4C1E1;
  border-radius: 5px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

hr {
  border: none;
  border-top: 0.5px solid #878788;
  margin: 0;
}

.blog {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.list-blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-blog {
  display: flex;
  gap: 17px;
}

.card-blog,
.card-blog-xs {
  padding-bottom: 30px;
  border-bottom: 2px solid #C4C4C4;
}

.card-image {
  max-width: 270px;
  width: 100%;
  position: relative;
}

.card-image img {
  display: block;
  width: 100%;
}

.card-tag {
  background-color: #000;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  width: fit-content;
}

.card-blog .card-tag {
  position: absolute;
  bottom: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 22px;
}

.card-description p {
  font-size: 16px;
  line-height: 19px;
}

.card-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-link-more {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.card-link-git {
  align-items: center;
  color: #878788;
  display: flex;
  gap: 5px;
}

.card-link-git img {
  max-width: 33px;
}

.card-link-git span {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Paginado */
.paginado {
  display: flex;
  gap: 8px;
}

.prev,
.next {
  width: 29px;
}

.prev img,
.next img {
  display: block;
  width: 100%;
}

.next {
  transform: rotate(180deg);
}

.paginado-number {
  background-color: #C4C4C4;
  color: #FFF;
  display: block;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.paginado-number.active {
  background-color: #000;
}

/* Recomendado */
.list-recommended {
  display: flex;
  flex-direction: column;
  gap: 27px;
  max-width: 350px;
  width: 100%;
}

.card-blog-xs .card-tag {
  background-color: #F4C1E1;
  border-radius: 2px;
  color: #000;
  width: fit-content;
}

.card-blog-xs .card-title {
  font-size: 16px;
  margin: 10px 0;
}

.card-blog-xs .card-image {
  float: right;
  top: 0;
  max-width: 102px;
  width: 100%;
}

.card-blog-xs .card-description {
  margin-bottom: 13px;
}

/* Blog Detalle */
.blog-detalle {
  display: flex;
  gap: 80px;
  margin-top: 30px;
}
.blog-detalle .list-blog {
  flex: 2;
}
.blog-detalle-title {
  font-size: 34px;
  font-weight: 600;
}
.blog-detalle-image,
.blog-detalle-image img {
  display: block;
  width: 100%;
}

.blog-detalle-description p + p {
  margin-top: 20px;
  text-align: justify!important;
}

/*
* Responsive general
*/
@media only screen and (max-width: 40em) {
  .filter {
    flex-wrap: wrap;
  }
  .field,
  .field select {
    width: 100%;
  }
  .field input {
    flex: 1;
  }
  .list-recommended {
    display: none;
  }
  .card-blog {
    flex-direction: column;
  }
  .card-image {
    max-width: 100%;
  }
  .paginado {
    justify-content: center;
  }
}