/* Portada */
.portada-evento {
  background-color: #000;
  padding-top: 100px
}

.swp-evento .swiper-pagination {
  bottom: 0;
}

.swp-evento .swiper-pagination-bullet {
  background-color: #FFF;
  border-radius: 0;
  height: 9px;
  opacity: 1;
  width: 50px;
}

.swp-evento .swiper-pagination-bullet-active {
  background-color: #F4C1E1;
  
}

.slider-item {
  max-width: 892px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  overflow: hidden;
}

/* Contenido Slider */
.slider-content {
  color: #FFF;
  position: absolute;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.time {
  font-size: 96px;
  font-weight: 500;
}
.time span {
  font-size: 24px;
}

.date {
  color: #F4C1E1;
  font-size: 29px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}
.address {
  color: #F4C1E1;
  font-size: 16px;
  font-weight: 500;
}

.slider-title {
  color: #FFF;
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  width: 100%;
}
.list-date {
  display: flex;
  flex-direction: column;
  gap: 30px
}

/*
* Responsive general
*/
@media only screen and (max-width: 40em) {
  .portada {
    padding: 20px 0;
  }
  .portada .carousel-indicators li {
      width: 30px;
      height: 6px;
      border: 0;
  }
  .time {
      font-size: 52px;
      font-weight: 500;
  }
  .date {
      font-size: 24px;
  }
  .address {
      font-size: 14px;
  }
  .slider-title {
      font-size: 28px;
  }
}