/*  Footer */
.sub-footer {
  background-color: #EDBED9;
  padding: 45px 0;
}
.sub-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-footer .logo {
  width: 181px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footer-menu ul {
  list-style-type: none;
}

.footer-menu ul li {
  line-height: 1.8;
  font-weight: 600;
  font-size: 16px;
}

.image-rrss {
  display: flex;
  align-items: center;
  gap: 5px
}

.image-rrss a {
  display: block;
  text-decoration: none;
  width: 32px;
}

.image-rrss img {
  display: block;
  width: 100%;
}

.copy {
  background-color: #000;
  padding: 4px 0;
}

.copy .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy p {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

/*
* Responsive general
*/
@media only screen and (max-width: 40em) {
   .sub-footer  {
    padding: 20px 0;
  }
  .sub-footer .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
  }
  .footer-menu {
    flex-direction: column-reverse;
    width: 100%;
  }
  .copy p {
    text-align: center;
    font-size: 14px;
  }
  .copy-image {
    display: none;
  }
  .footer-menu ul li {
    line-height: 1.5;
    margin: 10px 0;
  }
  .image-rrss {
    justify-content: center;
  }
}