/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

/* Etiquetas */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	line-height: 1.5;
}

body {
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	position: relative;
}

body.block {
	overflow: hidden;
}

section {
	padding: 40px 0;
}

p {
	color: #444;
	line-height: 1.5;
	font-size: 16px;
}

/*
* Clases generales
*/
.container {
	max-width: 1230px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -.5rem;
	margin-left: -.5rem;
	margin-top: -.5rem;
	position: relative;
}

.col-flex {
	flex-grow: 1;
	flex-basis: 0;
	padding: .5rem;
	flex: 1;
}

.col--1,
.col--2,
.col--3,
.col--4,
.col--5,
.col--6,
.col--7,
.col--8,
.col--9,
.col--10,
.col--11,
.col--12 {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: .5rem
}

.col--1 {
	width: 8.3333%
}

.col--2 {
	width: 16.6667%
}

.col--3 {
	width: 25%
}

.col--4 {
	width: 33.3333%
}

.col--5 {
	width: 41.6667%
}

.col--6 {
	width: 50%
}

.col--7 {
	width: 58.3333%
}

.col--8 {
	width: 66.6667%
}

.col--9 {
	width: 75%
}

.col--10 {
	width: 83.3333%
}

.col--11 {
	width: 91.6667%
}

.col--12 {
	width: 100%
}

/*
* Responsive general
*/
@media only screen and (max-width: 40em) {
	.container {
		width: 90%;
	}
	.col--1,
	.col--2,
	.col--3,
	.col--4,
	.col--5,
	.col--6,
	.col--7,
	.col--8,
	.col--9,
	.col--10,
	.col--11,
	.col--12 {
		width: 100%;
	}
}
