[class^="portada"] {
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-opacity {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-head {
  color: #FFF;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  position: relative;
  text-align: center;
}